$primary-color: #00C8BE;
$l-primary-color: rgb(209, 255, 253);

$secondary-color: #EFCA16;
$l-secondary-color:rgb(250, 243, 210);

header .container-fluid{
    order: 10;
}
body{
    font-family: 'Montserrat';
}


a{
    color: black;
}

.navbar a:hover{
    color: $primary-color;
}


main a:hover, #intro a:hover{
    text-decoration: none;
    background-color: $primary-color;
    color: white;
}


nav>a{
    color: $primary-color;
}



.button{
    background-color: $secondary-color;
    color: white;
    padding: 10px 35px;
    border-radius: 15px;
    margin-top: 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
}


 

.nav-item{
    padding:0 15px ;
}


h2{
    font-weight: bold;
    padding: 10px 0;
}

h5{
    font-weight: bold;
}

#intro {
    padding-top: 90px;
    p{
        width: 80%;
        margin: auto;
        line-height: 30px;
    }
    h1{
        padding: 20px;
        font-weight: 500;
    }

    img{
        width: 100%;
    }
}

#skills {  

    background: linear-gradient(90deg, rgba(0,200,190,1) 44%, rgba(150,222,218,1) 100%);
    
    padding: 30px;
    margin-top: 50px;
    h2, p{
        color: white;
    }

    img{
        width: 45px;
        padding: 20px 0;
        display: block;
        margin: auto;
    }

    .small{
        width: 126px;
        height: 101px;
    
    }

    .row{
        width: 70%;
        margin: auto;
    }

    hr{
        border: .5px solid white;
        width: 50%;
    }

}


#about-me{
    padding: 50px 0;

    img{
        width: 80%;
        margin: auto;
    }

    p{
        line-height: 30px;
        margin-top: 30px;
        font-size: 15px;
    }
}

#my-projects{
    width: 100%;
    margin-top: 60px;
    background-image: url(../images/fondo-projects.svg);
    background-size: contain;
    background-repeat: no-repeat;

    .project{
        padding-top: 140px;

    }
   
    .header {
        padding: 30px;
        color: white;
        margin-left: 80px;
    }

    p{
        font-size: 15px;
        line-height: 30px;
        width: 85%;
    }

    img{
        width: 100%;
        background-color: $secondary-color;
        border-radius: 30px;
        padding: 10px;
    }


    ul{
        display: flex;
        padding: 15px 0;
        background: url(/images/fondo-languages.svg);
        background-size: 67% 100%;
        background-repeat: no-repeat;

        li{
            padding: 7px 30px;
            font-size: 15px;
            list-style: none;
        }
    }

    .button{
        margin-right: 30px;
    }

    .view{
        background-color: white;
        border: 1px solid $secondary-color;
        color: $secondary-color;
    
    }

 

}

#references{
    /*background: url(../images/fondo-backg.svg);
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: white ;
    margin-top: 90px;

    .testimonial{
        flex-direction: row;
    }

    .title{
        background: $primary-color;

        color: white;
        padding-bottom: 120px;
        padding-top: 40px;
    }
    .row{
        padding:50px;
        background: white;
        border-radius: 20px;
        box-shadow: -1px 0px 31px -6px rgba(0, 0, 0, 0.3);
        width: 90%;
        margin: auto;
        position: relative;
        top: -115px;
    }

    .second{
        top: -40px;
    }
    img{
        width: 60%;
        margin: auto;
        background-color: $secondary-color;
        padding: 10px;
        
    }

    .cargo{
        font-size: 14px;
    }
}

/*sticky social media bar */

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
 
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: $secondary-color;
  }
  

  .mail {
    background: #55ACEE;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }

  .whatsapp {
    background: #25D366;
    color: white;
  }

  .github {
    background: #24292e;
    color: white;
    
  }
  
  .content {
    margin-left: 75px;
    font-size: 30px;
  }
 